html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

mark.selected {
  background-color: rgba(56, 151, 240, 0.16);
  padding: 0;
}

mark.active {
  background-color: red;
  padding: 0;
}

[data-placeholder]:empty:before{
  content: attr(data-placeholder);
  color: #888;
}

.ProseMirror {
  outline: none;
}